* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #bfbfbf;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  width: 95vw;
  gap: 2rem;
  font-size: 1.6rem;
}

form {
  display: flex;
  justify-self: center;
  align-self: center;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
  height: 70%;
  width: 70%;
  padding: 2rem;
  border-radius: 10px;
  position: relative;
  border: 2px solid #807878;
}

.question {
  font-weight: bold;
  background-color: #e1e8ef;
}

.options {
  background-color: #dcd1b2;
  padding: 2rem;
  font-weight: 500;
  margin: 1rem auto;
}

.result {
  text-align: center;
  font-weight: bold;
}

.btn-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.btn {
  display: inline-block;
  padding: 1rem 2.2rem;
  background-color: #15eed1;
  color: black;
  border: 1px solid;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.btn:hover {
  background-color: #98ece1;
  transform: scale(1.05);
}

#counter {
  position: absolute;
  top: 20px;
  right: 20px;
}

.options-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-size: 2rem;
  gap: 1rem;
  margin-top: 1rem;
}

.options-container div {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.quiz {
  width: 90%;
  text-align: center;
}

input[type="radio"] {
}
